@model Pomodoro.UI.Pages.Manage.Courses.IndexModel

@{
    var completedTasks = Model.Course.StudyTasks
        .Where(t => t.DateCompleted.HasValue)
        .GroupBy(t => t.DateCompleted.Value.Date)
        .Select(g => new
        {
            Date = g.Key,
            Count = g.Count()
        })
        .OrderBy(g => g.Date)
        .ToList();

    // Prepare the data for the chart
    var data = completedTasks.Select(ct => new
    {
        Date = ct.Date.ToString("yyyy-MM-dd"),  // Format the date as needed
        Count = ct.Count
    });
}

<div id="main" class="h-100" style="min-height: 200px;"></div>

<script>

    document.addEventListener('DOMContentLoaded', function () {

        drawProgressChart();

    });

    document.addEventListener('htmx:afterRequest', function () {
        drawProgressChart();
    });

    function drawProgressChart() {

        let myChart = echarts.init(document.getElementById('main'));

        let option = {
            xAxis: {
                type: 'category',
                data: @Json.Serialize(data.Select(u => u.Date)),
                axisLabel: {
                    formatter: function (value) {
                        return value;
                    }
                }
            },
            yAxis: {
                type: 'value',
                minInterval: 1,  // Ensure Y-axis increments by 1
                axisLabel: {
                    formatter: function (value) {
                        return Math.floor(value);  // Show whole numbers only
                    }
                }
            },
            series: [
                {
                    data: @Json.Serialize(data.Select(u => u.Count)),
                    type: 'line',
                    smooth: true
                }
            ],
            grid: {
                left: '0%',
                right: '0%',
                top: '5%',
                bottom: '5%',
                containLabel: true
            }
        };

        myChart.setOption(option);
    }
</script>