@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Pomodoro.UI.Pages.Timer.IndexModel

<div id="all-study-tasks" class="row gx-5">
    <div class="col-12">
        <div class="d-flex justify-content-between align-items-end mb-2" style="height: 40px">
            <div class="d-flex h-100 align-items-end">
                <div class="d-flex mb-0 me-4">
                    <h5>Tasks</h5>
                </div>
            </div>
        </div>
        @if (Model.NextStudyTasks.Count == 0)
        {
        }
        <div id="current-tasks">
            @await Html.PartialAsync("Partials/_UncompletedStudyTasks")
        </div>

    </div>
    @if (Model.CompletedStudyTasksToday.Count != 0)
    {
        <div class="col-12">
            <div class="d-flex justify-content-between align-items-end mb-3" style="height: 40px">
                <h5 class="mb-0 me-2">Completed Today</h5>
            </div>
            <div id="completed-tasks">
                @await Html.PartialAsync("Partials/_CompletedStudyTasks")
            </div>
        </div>
    }
</div>
