@using PomodoroLibrary.Models.Utility
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var model = Model;

    var test = "test";
}
@model PomodoroUI.Areas.Registered.Pages.Timer.IndexModel

@await Html.PartialAsync("Partials/_TasksOutOfBounds")

<form id="study-task-form" 
    hx-post
    hx-page="Index"
    hx-page-handler="CreateStudyTask"
    hx-swap="innerHTML"
    hx-target="#current-tasks"
    hx-on::after-request=" if(event.detail.successful) this.reset()">
    <div class="modal-body">
        <div class="mb-2">
            <label asp-for="StudyTaskCreate.Name" class="form-label">Task:</label>
            <input class="form-control form-control-sm" asp-for="StudyTaskCreate.Name" />
            <span asp-validation-for="StudyTaskCreate.Name" class="text-danger form-text"></span>
        </div>
        <div class="mb-2">
            <label asp-for="StudyTaskCreate.TaskPriority" class="form-label">Priority:</label>
            <div class="form-check">
                <input class="form-check-input" selected type="radio" asp-for="StudyTaskCreate.TaskPriority" value="@((int)SD.TaskPriority.Low)" id="low" />
                <label class="form-check-label" for="low">Low</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" asp-for="StudyTaskCreate.TaskPriority" value="@((int)SD.TaskPriority.Medium)" id="medium" />
                <label class="form-check-label" for="medium">Medium</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" asp-for="StudyTaskCreate.TaskPriority" value="@((int)SD.TaskPriority.High)" id="high" />
                <label class="form-check-label" for="high">High</label>
            </div>
            <span asp-validation-for="StudyTaskCreate.TaskPriority" class="text-danger form-text"></span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" id="submitButton" class="btn btn-primary">Create</button>
    </div>
    @Html.AntiForgeryToken()
</form>

@section Scripts {

    <partial name="_ValidationScriptsPartial" />
}