

@model PomodoroUI.Areas.Registered.Pages.Timer.IndexModel

@if (Model.RenderTasksOutOfBand)
{
    <div id="current-tasks" hx-swap-oob="true">
        @await Html.PartialAsync("Partials/_UncompletedStudyTasks")
    </div>
}

